<%- include('../includes/head.ejs') %>
<style>
    .xsmn form {
        padding: 10px;
    }
    table th {
        text-align: center;
        max-width: 5px;
    }
    .hove-item:hover {
        cursor: pointer;
        background-color: rgb(224, 161, 161);
    }
</style>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container-fluid">
            <div class="row">
                <!-- left Side -->
                <div class="col-3 backgroud">
                    <%- include('../includes/leftSide.ejs') %>
                </div>
                <!-- center -->
                <div class="col-6">
                    <h3>Kết quả xổ số Miền Nam</h3>
                    <% for (let da of day) { %>
                    <p>Ngày: <%= da %></p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Thứ 2</th>
                                <% for (let city of allRes) { %> <%
                                if(city.cityId.date === da) { %>
                                <td>Tỉnh: <%= city.cityId.name %></td>
                                <% } %> <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>G.DB</th>
                                <% for (let city of allRes) { %> <%
                                if(city.cityId.date === da) { %>
                                <td>
                                    <div class="hove-item">
                                        <%= city.G_DB[0] %>
                                    </div>
                                </td>
                                <% } %> <% } %>
                            </tr>
                            <tr>
                                <th>G.1</th>
                                <% for (let city of allRes) { %> <%
                                if(city.cityId.date === da) { %>
                                <td>
                                    <% city.G_1.forEach(g1 => { %>
                                    <div class="hove-item"><%= g1 %></div>
                                    <% }) %>
                                </td>
                                <% } %> <% } %>
                            </tr>
                            <tr>
                                <th>G.2</th>
                                <% for (let city of allRes) { %> <%
                                if(city.cityId.date === da) { %>
                                <td>
                                    <% city.G_2.forEach(g1 => { %>
                                    <div class="hove-item"><%= g1 %></div>
                                    <% }) %>
                                </td>
                                <% } %> <% } %>
                            </tr>
                            <tr>
                                <th>G.3</th>
                                <% for (let city of allRes) { %> <%
                                if(city.cityId.date === da) { %>
                                <td>
                                    <% city.G_3.forEach(g1 => { %>
                                    <div class="hove-item"><%= g1 %></div>
                                    <% }) %>
                                </td>
                                <% } %> <% } %>
                            </tr>
                            <tr>
                                <th>G.4</th>
                                <% for (let city of allRes) { %> <%
                                if(city.cityId.date === da) { %>
                                <td>
                                    <% city.G_4.forEach(g1 => { %>
                                    <div class="hove-item"><%= g1 %></div>
                                    <% }) %>
                                </td>
                                <% } %> <% } %>
                            </tr>
                        </tbody>
                    </table>
                    <% } %>
                </div>
                <!-- right side -->
                <div class="col-3 backgroud">
                    <%- include('../includes/rightSide.ejs') %>
                </div>
            </div>
        </div>
    </main>
</body>
<%- include('../includes/end.ejs') %>
