<%- include('../includes/head.ejs') %>
<body>
    <!-- nav -->
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container-fluid">
            <div class="row">
                <!-- left side -->
                <div class="col-3 backgroud">
                    <%- include('../includes/leftSide.ejs') %>
                </div>
                <!-- center -->
                <div class="col-6">
                    <h1>Kết quả xổ số Miền Bắc</h1>
                    <p>Ngày:</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Thứ 2</th>
                                <th scope="col">T3</th>
                                <th scope="col">T4</th>
                                <th scope="col">T5</th>
                                <th scope="col">T6</th>
                                <th scope="col">T7</th>
                                <th scope="col">CN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">G.DB</th>
                                <td colspan="6">
                                    <div>1111234</div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">G.1</th>
                                <td colspan="6">
                                    <div>123456</div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">G.2</th>
                                <td colspan="6">
                                    <div>12345</div>
                                    <div>45678</div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">G.3</th>
                                <td colspan="6">
                                    <div>12345</div>
                                    <div>45678</div>
                                    <div>45678</div>
                                    <div>45678</div>
                                    <div>45678</div>
                                    <div>45678</div>
                                    <div>45678</div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">G.4</th>
                                <td colspan="6">
                                    <div>1234</div>
                                    <div>1235</div>
                                    <div>1245</div>
                                    <div>4568</div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">G.5</th>
                                <td colspan="6">
                                    <div>2345</div>
                                    <div>4578</div>
                                    <div>4567</div>
                                    <div>4678</div>
                                    <div>4568</div>
                                    <div>5678</div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">G.6</th>
                                <td colspan="6">
                                    <div>124</div>
                                    <div>578</div>
                                    <div>678</div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">G.7</th>
                                <td colspan="6">
                                    <div>23</div>
                                    <div>57</div>
                                    <div>45</div>
                                    <div>78</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- right side -->
                <div class="col-3 backgroud">
                    <%- include('../includes/rightSide.ejs') %>
                </div>
            </div>
        </div>
    </main>
</body>
<%- include('../includes/end.ejs') %>
